/*Catch all so that all text is white*/
* {

  color:white;

}



/*Blue Buttons with white border*/
.button {
  background-color: cadetblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;

}


/*Dark Blue Header*/
header {
  padding: 2%;
  background: #13293d;
  font-size: 15px;
  
}

 /*Dark Blue Footer*/
footer {
  width: 94%;
  bottom: 0;
  padding: 3%;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

/*Gray Background*/
body {
background-color: lightslategrey;


}

/*light gray container that hold buttons*/
.lightgray{
  padding: 10px;
  text-align: center;
  background: lightgray;
  color: #fff;
  justify-content: center;
  display: flex;
}

/*Largephoto of white desk*/
.whitecomputerdeskimg {
    height: 800px;
    width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background: url(https://lh3.googleusercontent.com/yTjXjk6063sLmK7Bk3D8vo_HaY3bRwVTzKZ_RsldtVn0qlTXSTJSP81NaoRlXDf01KUs4sDke8jliZqmvRK4mEq3wL8TiLG4HCXnUNQoF3esvQGY61fsLF8Sd76QTmFTJWJ3d4ccJw=w2400);
  background-repeat: no-repeat;
  
}


/*Stacks containers*/
  .container {
    flex-direction: column;
    

  }

    /*Container headers*/
h2 a {
font-size: 50px;
color: white;

}



/*Container size and styles*/
.border {

  border: 6px solid white;
  height: 500px;


}


/*Worksection paragraph layout*/
#worksection p {
display: flex;
text-wrap: wrap;
align-items: left;
font-size: 18px;
word-break: break-word;
}

#aboutsection p {
  display: flex;
  text-wrap: wrap;
  align-items: left;
  font-size: 18px;
  word-break: break-word;
  }

/*Aboutsection container*/
#aboutsection {

  border: 6px solid white;
  height: 525px;
  

}

/*Contact section container*/
#contactsection{

  border: 6px solid white;
  height: 200px;
  

}


/*Work section container*/
#worksection {

  border: 6px solid white;
  height: 1000px;

}

/*photo of me*/
.pictureofme {
position: relative;
float: right;
width: 25%;
height: 80%;
top: -10%;

}

/*photo of code refractor project*/
.workimage {
position: relative;
height: 475px;
width: 70%;
top: -3%;
float: right;

}

/*photo of calculator place holder image*/
.placeholder1 {
  position: relative;
  height: 375px;
  width: 50%;
  top: 1%;
  float: right;

}

/* media queries*/


/*wraps buttons and lightgray section when screen width is 850 px or smaller*/
@media screen and (max-width: 850px) {
  .lightgray{
    flex-wrap: wrap;
    
  }

}

/* Makes all paragraph text in the about section 15px when the screend width is 850px or smaller*/

@media screen and (max-width: 850px) {
  #aboutsection p {
    font-size: 15px;
    
  }

}



/* Makes the picture of Kourtney(me) have a width of 15% and a height of 45% when the width is 1266 px or smaller*/

@media screen and (max-width: 1266px) {
  .pictureofme{
    width: 15%;
    height: 45%;
  }

}


/* Makes the picture of Kourtney(me) be 5% from the container top, have a height of 25% and a width of 50% when the screen width is 280px or smaller*/

@media screen and (max-width: 280px) {
  .pictureofme{
   position: relative;
    top: 5%;
    width: 50%;
    height: 25%;
  }

}

/* Makes the picture of Kourtney(me) have a height of 5% and a width of 18% when the screen width is 280px or smaller*/

@media screen and (max-width: 411px) {
  .pictureofme{
   
    width: 15%;
    height: 16%;
  }

}


/*Makes the aboutsection container height 700 px when the screen width is 280px or smaller*/

@media screen and (max-width: 280px) {
  #aboutsection {
    height: 700px;
  }

}


/*Makes the workimage and placeholder1 image height 18% and width 50% when the screen width is 411px or smaller*/

 @media screen and (max-width: 650px) {
  .workimage, .placeholder1{
    width: 50%;
    height: 18%;
  }

}
/*pixel 2 cell phone dimensions*/
@media only screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation:portrait) {
  .pictureofme
  
  {
height: 15%;
    width: 16%; 
            
  /* For portrait layouts only */
}
}
/*end of pixel 2 cell phone dimensions*/

/*iphone 5/SE dimensions*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)  {
  .pictureofme
  
  {
position: relative;
top: 0%;

}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation:portrait) {
  .workimage, .placeholder1
  
  {
    height: 40%;
    width: 45%; 
            
  /* For portrait layouts only */
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation:portrait) {
  #worksection
  
  {
height: 525px;
            
  /* For portrait layouts only */
}
}

/*end of iphone 5/SE dimensions*/

/*Surface Duo Dimensions*/

@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation:portrait) {
  .pictureofme
  
  {
height: 20%;
width: 15%;
            
  /* For portrait layouts only */
}
}

@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation:portrait) {
  .workimage, .placeholder1
  
  {
height: 15%;
width: 20%;
            
  /* For portrait layouts only */
}
}

/*End of Surface Duo Dimensions*/

/*Galaxy Fold dimensions*/
@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (orientation:portrait) {
  .pictureofme
  
  {
height: 15%;
width: 30%;
            
  /* For portrait layouts only */
}
}

@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (orientation:portrait) {
  .workimage, .placeholder1
  
  {
height: 8%;
width: 40%;
            
  /* For portrait layouts only */
}
}




/* End of Galaxy Fold dimensions*/

/*Moto G4/Galaxy 5 cell phone dimensions*/

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation:portrait) {
  .pictureofme
  
  {
height: 30%;
width: 32%;
            
  /* For portrait layouts only */
}
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation:portrait) {
  .workimage, .placeholder1
  
  {
height: 18%;
width: 40%;
            
  /* For portrait layouts only */
}
}
/*End of Moto G4/Galaxy 5 cell phone dimensions*/

