/* .header ul li {
align-items: flex-end;
float: left;


};

div .row{
height: 50px;
width: 30px;
border: 6px solid black;

}; */

/* .mt-5 {
    margin-top: ($spacer * 40) !important;
  }; */

.hgt {
min-height: 50vh;
min-width: 70vw;
};




  