/* .header ul li {
align-items: flex-end;
float: left;


};

div .row{
height: 50px;
width: 30px;
border: 6px solid black;

}; */

/* .mt-5 {
    margin-top: ($spacer * 40) !important;
  }; */

.imgA {
  min-height: 50vh;
  min-width: 75vw;
  background-color: #e5e5f7;
opacity: 0.8;
background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -12px 0/ 24px 24px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -12px 0/ 24px 24px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 24px 24px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 24px 24px;

}

.hgt {
min-height: 50vh;
min-width: 75vw;
};

.ftr {
  padding: 10px;
  text-align: center;
  background: lightgray;
  color: #fff;
  display: flex;
};





/* body {

  background-color: bg-light;
}; */

/* .mediaQ {
  flex-direction: row;
  flex-wrap: wrap

}; */


  
/* @media screen and (max-width: 575.98px) {
  div .row {

    flex-direction: column !important;
    flex-wrap: wrap !important;
    /* d-flex flex-column bd-highlight */
  
   /* };



}; */

/* div nth:child(11){
  flex-direction: column !important;
  flex-wrap: wrap !important;


}; */

/* .row {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
}; */

